* {
    box-sizing: border-box;
}
img {
    width: 100%;
    object-fit: contain;
}
#hero {
    background-image: url("../images/nature\ hero.jpg") ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 30px;
    margin: 0px 0px;
    color: rgb(14, 14, 15);
}
body {
    font-family: sans-serif;
    margin: 0px;
}
#single-col {
    
    width: 90%;
    margin: 15px auto;
    max-width: 900px;
}
.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 25px;
}