* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 90vw;
    margin: 0px auto;
    max-width: 1200px;
}

.card {
    border: solid rgb(38, 109, 135);
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
    background-color: brown;
    flex: 1;
}
.card h3 {
    font-size: 36px;
    margin: 0px;
}
.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}
.card-container {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}

.sbs {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0px;
    flex-direction: row;
    align-items: stretch;

}