@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
h1 {
    font-family: "Elms Sans", sans-serif;
}
p {
    font-family: "Montserrat", sans-serif;
}
a {
     font-family: "Elms Sans", sans-serif;
     font-weight: 800;
}