.single-column {
    text-align: center;
    padding: 20px;
    color: white;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    min-width: 500px;
    max-width: 900px;
}
.light-container {
    background-color: #76b041;
    margin: 48px 0px;
    padding: 10px;
}
.btn {
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: 5px solid #f7931e;
    background-color: #f7931e;
    border-radius: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
h1 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 50px;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}
.dark-container {
    background-color: #f4db50;
    margin: 48px 0px;
}
img {
    width: 165px;
}
p i {
    font-size: 15px;
}
.btn border {
    background-color: #f7931e;
}
* {
    box-sizing: border-box;
}
.container {
    background-color: rgb(23, 20, 50);
    margin: 48px 0px;
    padding: 20px;
}
.button {
    text-decoration: none;
    border: 5px solid #f7931e;
    border-radius: 10px;
    background-color: #f7931e;
    color: white;
}