/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color: rgb(234, 223, 17);
    display: inline-block;
    width: 189px;
    font-family: sans-serif;
    margin: 12px; 
    padding: 10px;
    vertical-align: top;
    text-align: center;
}
.post-it-blue {
    background-color: rgb(130, 130, 228);
    display: inline-block;
    width: 190px;
    text-align: center;
    margin: 60px;
    padding: 30px;
    vertical-align: middle;
}
.post-it-orange {
    background-color: orange;
    display: inline-block;
    margin: 40px;
    padding: 12px;
    width: 123px;
    vertical-align: middle;
}
.post-it-white {
    background-color: antiquewhite;
    display: inline-block;
    width: 156px;
    text-align: center;
    padding: 25px;
    margin: 18px;
    vertical-align: top;
}
.post-it-yellow {
    width: 109px;
    background-color: rgb(224, 221, 20);
    display: inline-block;
    text-align: center;
    padding: 12px;
    margin: 6px 500px 1px;
}
.post-it-image {
    margin: 98px 250px;
    display: inline-block;
    vertical-align: middle;
}
.post-it-green {
    background-color: green;
    width: 200px;
    padding: 19px;
    text-align: center;
    display: inline block;
    margin: 9px 12px;
    vertical-align: middle;
}