/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color:rgb(234, 223, 17);
    display:inline-block;
    width: 189px;
    font-family:sans-serif;
    margin: 24px; 
    padding: 24px;
    vertical-align: top;
    text-align: center;
}
.post-it-blue {
    background-color: rgb(130, 130, 228);
    display: inline-block;
    width: 190px;
    text-align:center;
}
.post-it-orange {
    background-color: orange;
    display: inline-block;
    width: 150px;
    text-align: center;
    text-decoration: underline;
}
.post-it-white {
    background-color: antiquewhite;
    display: inline-block;
    width: 156px;
    text-align: center;
}
.post-it-yellow {
    width: 102px;
    background-color: rgb(224, 221, 20);
    display: inline-block;
    text-align: center;
}