/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/
.post-it {
    background-color:rgb(234, 223, 17);
    display:inline-block;
    width: 189px;
    font-family:sans-serif;
    margin: 12px; 
    padding: 10px;
    vertical-align: top;
    text-align: center;
}
.post-it-blue {
    background-color: rgb(130, 130, 228);
    display: inline-block;
    width: 190px;
    text-align:center;
    margin: 60px;
    padding: 30px;
    vertical-align: top;
}
.post-it-orange {
    background-color: orange;
    display: inline-block;
    margin: 40px;
    padding: 12px;
    width: 123px;
}
.post-it-white {
    background-color: antiquewhite;
    display: inline-block;
    width: 156px;
    text-align: center;
    padding: 25px;
    margin: 18px;
}
.post-it-yellow {
    width: 109px;
    background-color: rgb(224, 221, 20);
    display: inline-block;
    text-align: center;
    padding: 12px;
    margin: 14px;
    vertical-align: top;
}
.post-it-image {
    margin: 98px;
    display: inline-block;
    vertical-align: top;
}