.p1 {
    border: 4px solid goldenrod;
    width: 155px;
    padding: 60px;
    margin: 6px 20px;
    display: inline-block;
    border-style: outset;
    background-color: #f5f5f5;
    border-width: 15px;
}
.p2 {
    border-radius: 50%;
    border: 4px solid rgb(41, 218, 32);
    border-style: outset;
    display: inline-block;
    width: 300px;
    margin: 6px 20px;
    background-color: #f5f5f5;
    border-width: 6px;
}
.p3 {
    border: 4px ridge rgb(32, 19, 32);
    border-style: outset;
    width: 270px;
    margin: 6px 80px;
    display: block;
    background-color: #f5f5f5;
    border-width: 6px;
}
.p4 {
    border: 4px ridge violet;
    border-style: outset;
    width: 200px;
    display: inline-block;
    margin: 50px 100px 20px;
    padding: 12px;
    background-color: #f5f5f5;
    text-align: center;
}