.p1 {
    border: 4px solid goldenrod;
    width: 155px;
    padding: 60px;
    margin: 6px 20px;
    display: inline-block;
    border-style: outset;
}
.p2 {
    border-radius: 50%;
    border: 4px solid rgb(41, 218, 32);
    border-style: outset;
    display: inline-block;
    width: 300px;
    margin: 6px 20px;
}
.p3 {
    border: 4px ridge rgb(72, 54, 234);
    border-style: outset;
    width: 275px;
    margin: 6px 20px;
    display: block;
}
.p4 {
    border: 4px ridge violet;
    border-style: outset;
    width: 200px;
    display: inline-block;
    margin: 6px 20px;
    padding: 12px;
    background-color: rgb(34, 139, 132);
    text-align: center;
}