body {
font-family: sans-serif;
}

h1 {
    font-family: cursive;
    font-style: italic;
    font-size: 50px;
    text-align: center;
}

span {
    font-weight: bold;
}
#s1 {
    color:rgb(255, 156, 44);
}
#s2 {
    color: lavenderblush;
}

a {
    color: firebrick;
    text-decoration: none;
}