* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
nav {
    background-color: #222;
    display: flex;
    justify-content: center;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
}
@media screen and (max-width: 550px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 660px) {
    .layout h1 {
        font-size: 24px;
        background-color: rgb(165, 42, 114);
    }
    .gallery {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.layout h1 {
    font-size: 64px;
    text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}