* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}

.two-col {
    display: flex;
    width: 90vw;
    max-width: 1280;
    margin: 0px auto;
    gap: 50px;
    margin: 25px auto 0px;
    justify-content: center;
}

#sidebar {
    flex: 1;
    width: 250px;
    order: 2;
}

#main {
    flex: 1;
    order: 1;
}

#sidebar h2 {
    background-color: #ffa600;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
}
#sidebar ul {
    background-color: rgb(195, 200, 239);
    border: 0.5px solid greenyellow;
    margin: 0px 0px 25px;
    list-style-type: none;
    padding: 0px 15px;
}
#sidebar li {
    border-bottom: 0.5px solid green;
    padding: 10px 0px;
}
#sibebar li:last-child {
    border: 0px;
}
#sidebar a {
    text-decoration: none;
    color: black;
}
#main h1 {
    margin-top: 0px;
    border: 4px solid rgb(0, 0, 0);
    border-image: linear-gradient(at bottom right,#0fe,#00ff26 ) 1;
    padding: 25px;
    background: radial-gradient(at bottom right, #0fe, #00ff26);
}