* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 410px;
    margin: 65px;
    padding: 20px;
}
.single-column {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    min-width: 500px;
    max-width: 900px;
    background-color: #ffd7c1;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
i {
    margin: 5px;
}
h6 {
    margin: 5px;
}