* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width:100% ;
    object-fit: cover;
}
.single-column {
    background-color: #f5f5f5;
    width: 50%;
    min-width: 500px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.light-container {
    background-color: #2a929e;
    padding: 48px 0px;
}
.dark-container {
     background-color: #2a929e;
    padding: 48px 0px;
}
