.color-palette {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px;
    padding: 24px;
}
#p1-c1 {
    background-color: #06d6a0;
}
#p1-c2 {
    background-color: #118ab2;
}
#p1-c3 {
    background-color: #f5f5f5;
}
#p2-c1 {
    background-color: #416165;
}
#p2-c2 {
    background-color: #00b3b3;
}
#p2-c3 {
    background-color: #4f7cac;
}
#p2-c4 {
    background-color: #e0e0e0;
}
#p2-c5 {
    background-color: #0a2342;
}