* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
#navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;

}
nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: #c94141;
    padding: 15px;
}
#main-hero {
    background-image: url("../images/urban-hi-res-1ui7.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
}
.hero-content h1 {
    color: white;
    font-size: 90px;
    display: flex;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    background-position: center;
    padding: 80px;
    margin: 240px;
}
#sec-1 .btn {
    text-decoration: none;
    padding: 20px;
    margin: 30px;
    background-color: #c94141;
    text-align: center;
    display: block;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 24px;
}
.gallery img {
    width: 100%;
}
#sec-1 a {
    text-decoration: none;
    background-color: #c94141;
    color: white;
    font-size: 18px;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    margin-right: auto;
}
.single-column {
    width: 90vw;
    margin: 0px auto;
    max-width: 1200px;
}

.card {
    border: solid #c94141;
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
    background-color: #c94141;
    flex: 1;
    color: white;
}
.card h3 {
    font-size: 36px;
    margin: 0px;
}
.card p {
    font-size: 24px;
    margin: 24px 0px 0px;
}
.card-container {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
}